#top{
	margin: 0px;
	height: 100px;
	background-color: rgba(93,107,226,0.8);
	border-radius: 18px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
	position: fixed;
	width: 100%
}

.contenedor{
	width: 750px;
	margin: 0 auto;
}

#logo{
	background-image: url(Imagenes/Log.png);
	width: 680px;
	height: 35px;
	display: inline-block;
	margin-top: 10px;
}

#imagen{
	margin-left: 10%;
	margin-top: 8%;
	border-radius: 30px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#ImgComent{
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 30px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

img{
	border-radius: 30px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

body{
	font-family: Kavivanar;
	padding: 0px;
	margin: 0px;
}

.FondoP, .FondoP2, .FondoP3, .FondoP4, .FondoP5, .FondoP6{
	color: white;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}

.FondoP{
	background-image: url('Imagenes/alaskados img_2604.jpg');		
}

.FondoP2{
	background-image: url('Imagenes/thumb-1920-749383.png');
}

.FondoP3{
	background-image: url('Imagenes/centro-medico.jpg');
}

.FondoP4{
	background-image: url('Imagenes/Fotolia_565704664_XL.jpg');
}

.FondoP5{
	background-image: url('Imagenes/907191.png');
}

.FondoP6{
	background-image: url('Imagenes/65774.jpg');
}

@font-face{
	font-family: Kavivanar;
	src: url(Fuentes/Kavivanar-Regular.ttf);
}

#Prin1, #Prin2{
	margin: 15px;
	color: yellow;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	text-shadow: 0px 0px 30px rgba(0,0,0,0.5);
	letter-spacing: 1px;
	position: absolute;
}

#Prin2{
	left: 63%;
}

nav details :hover{
	color: white;
}

nav a :hover{
	background: white;
}

nav details{
	display: inline-block;
	margin: 15px;
	color: yellow;
	font-weight: bold;
	text-shadow: 0px 0px 30px rgba(0,0,0,0.5);
	letter-spacing: 1px;
	text-align: center;
}

#Cli{
	position: absolute;
	left: 20%;
}

#Hos{
	position: absolute;
	left: 40%;
}

nav details ul li{
	color: blue; 
}

nav details ul li a{
	text-decoration: none;
}

h6{
	position: absolute;
	margin-left: 11%;
	color: red;
}

#sidebar{
	float: right;
	margin-right: 50px;
	color: orange;
	width: 220px;
	height:400px;
	background-color: rgba(128,0,0,0.8);
	padding: 18px;
	border-radius: 18px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#sidebar h2{
	text-align: center;
}

#sidebar a{
	text-decoration: none;
	color: orange;
}

#sidebar li{
	list-style: none;
	margin-bottom: 10px;
}

hgroup{	
	margin-top: 1%;
	margin-left: 23%;
	color: yellow;
	padding: 0px;
	text-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}

p{
	margin-left: 310px;
	margin-right: 330px;
	line-height: 1.5;
}

#Coment{
	margin-left: 300px;
	width: 650px;
	height: 530px;	
	background-color: rgba(29,29,29,0.8);
	color: #FFF;
	padding: 18px;
	border-radius: 18px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

section div hgroup h4{
	margin-left: -90px;
}

label{
	display: block;
	margin-left:80px;
	padding: 0px;
}

input{
	margin-left: 80px;
	padding: 0px;
	width: 40%;
	border-radius: 5px;
	border: 3px solid rgba(156,156,156);
	outline: none;
}

textarea{
	margin-left: 80px;
	width: 60%;
	height: 70px;
	padding: 0px;
	border-radius: 5px;
	border: 3px solid rgba(156,156,156);
}

#btnSubmit{
	cursor: pointer;
	width: 100px;
	background: orange;
	color: black;
	height: 30px;
}

#calificacion{
	cursor: pointer;
}

#HospitalCMa{
	background-image: url("Imagenes/Hospital Central.png");
	width: 448px;
	height: 198px;
	margin-left: 24%;
	margin-top: 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#HospitalCMan{
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

video{
	margin-left: 130px;
}

#Dir{
	margin-left: 460px;
	margin-top: -45px;
	font-size: 22px;
}

#Dir2{
	margin-left: 50%;
	margin-top: -45px;
	font-size: 16px;
}

#Dir a{
	text-decoration: none;
	color: yellow;
}

iframe{
	float: right;
	margin-right: 1%;
	margin-top: 10px;
}

table{
	margin-left: 23%;
}

.contenedorC{
	width: 80%;
	margin-left: 20%;
	padding: 0;
	margin-bottom: 300px;
}

.column1, .column2, .column3{
	width: 26.67%;
	float: left;
	height: 250px;
}
.column1{
	background-color: rgba(255,0,0,0.8);
	color: white;
	text-align: center;	
}

.column1 p, .column1 h4{
	margin: 20px;
}

.column2{
	background-color: rgba(0,0,128,0.8);
	color: white;
}

.column2 h4, .column3 h4, .column3 p{
	text-align: center;
	margin: 20px;
}

#let{
	color: white;
}

.column3{
	background-color: rgba(0,128,0,0.8);
	color: white;
}

#PieP p{
	clear: both;
	text-align: center;
	font-size: 12px;
	color: white;
}

#edificio{
	margin-top: -20px;
	margin-left: 22%;
	margin-bottom: 20px;
}

.column3 h5{
	margin-top: 30px;
	margin-left: 5px;
}

.column3 h2{
	margin-top: 50px;
	margin-left: 50px;
}

.column2 h5{
	margin-left: 15px;
	margin-top: 60px;
}

#HMEsp{
	float: left;
	margin:30px; 
}

#HMEsp2{
	margin-top: -70px;
	margin-left: 23%;
}

#Somos{
	margin-top: -37px;
	margin-left: 310px;
	margin-right: 330px;
	line-height: 1.5;
}
